* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 40px;
}

@font-face {
  font-family: Ribbon;
  src: url("./src/ribbon.ttf");
}

@font-face {
  font-family: Gravity;
  src: url("./src/KGDefyingGravity.ttf");
}

.title {
  font-family: Gravity;
  font-size: 100px;
}

a#github {
  background: rgb(32, 32, 32);
  color: aliceblue;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  gap: 5px;
  margin-top: 20px;
}

#github .icon {
  font-size: 30px;
}
#syntax {
  margin-top: 55px;
}
a.back-to-top {
  position: fixed;
  z-index: 5;
  bottom: 25px;
  right: 25px;
  color: white;
  font-size: 50px;
}
section {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(65, 155, 140);
  color: aliceblue;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.box {
  max-width: 250px;
  width: 100%;
  background: rgb(197, 24, 24);
  padding: 30px;
  border-radius: 5px;
}
